.main_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.main_div {
  height: 70%;
  margin-top: 20px;
  overflow-y: auto;
}

.footer_div {
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  width: 100%
}